.allBackground {
    background: url("../img/background.png") no-repeat;
    background-size: 1920px 1080px;
    position: relative;
    width: 1920px;
    height: 1080px;
}

.allBackground .title{
    position: absolute;
    color:#ffffff;
    top: 5px;
    left: 850px;
    font-size: 30px;
}

.swiper-containerUpBig {
    position: relative;
    width: 1920px;
    height: 1080px;
}

.swiper-containerUpBig .swiper-slide {
    /* position:absolute; */
    top: 100px;
    width: 75%;
    height: 50%;
}

.swiper-containerUpBig .swiper-slide-echarts{
    top: 100px;
    width: 100%;
    height: 50%;
}

.swiper-containerUpBig .swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-containerUpBig .swiper-slide-active {
    width: 858px !important;
    height: 594px !important;
    transform: initial !important;
}

.swiper-containerUpBig .swiper-slide-prev,
.swiper-containerUpBig .swiper-slide-next {
    width: 530px !important;
    height: 594px !important;
}

.swiper-containerUpBig .titleUp{
    position: absolute;
    color:#ffffff;
    top: 95px;
    /* left: 785px; */
    font-size: 48px;
    text-align: center;
    width:100%;
}

.swiper-containerUpBig .upBigBorderSwiper {
    width: 100%;
    height: 100%;
    position:absolute;
    top:85px;
}

.swiper-containerUpBig .backgroundUpGif {
    position: absolute;
    top: -30px;
    left: 607px;
}

.dataBottom {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    height: 300px;
}

.dataBottom .imgLeft,
.dataBottom .imgRight {
    position: relative;
    /* width:400px;
    height:100px; */
    top: 0;
    height: auto;
    width: auto;
    overflow: hidden;
}

.dataBottom .loading {
    position: absolute;
}

.dataBottom .imgLeft .loading {
    top: -15px;
    left: -10px;
}

.dataBottom .imgRight .loading {
    top: -17px;
    right: -15px;
}

.dataBottom .swiper-containerDownSmall .downSmallBorderSwiper{
    width: 1500px;
    /* display: flex;
    justify-content: space-around; */
    height:175px;
    /* overflow: hidden; */

}
.dataBottom .swiper-containerDownSmall .downSmallBorderSwiper .downBorder{
    width:303px;
    height:175px;
    background:url("../img/borderLittle.png") no-repeat;
    background-size: 303px 175px;
    /* text-align: center; */
    line-height: 165px;
    display: inline-block;
    /* margin-right: 75px; */
    flex: none;
}
/* .dataBottom .swiper-containerDownSmall .downSmallBorderSwiper .downBorder:nth-of-type(3){
    background:url("../img/shineBorder.png") no-repeat;
    background-size: 363px 222px;
    width:363px;
    height:222px;
    line-height: 222px;
    top: -30px;
    position: relative;
} */

.dataBottom .swiper-containerDownSmall .downSmallBorderSwiper .downBorder:nth-of-type(1){
    margin-left: -150px;
}
.dataBottom .swiper-containerDownSmall .downSmallBorderSwiper .downBorder .smallImgTital{
    position: absolute;
    width: 305px;
    text-align: center;
    top: -48px;
    color: #ffa441;
    font-size: 20px;
}
.dataBottom .swiper-containerDownSmall .downSmallBorderSwiper .downBorder img{
    /* width:92%;
    height:70%; */
    vertical-align: middle;
    width: 275px;
    height: 125px;
    margin-left: 15px;
}
/* .dataBottom .swiper-containerDownSmall .downSmallBorderSwiper .downBorder:nth-of-type(3) img{
    width: 76%;
    height: 55%;
} */
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
    content:initial;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
    content:initial;
}
/* 三角 */
.triangle{
    color: #ffffff;
    position: absolute;
    bottom: 40px;
    /* top: 0; */
    left: 25px;
    font-size: 22px;
    width: 100%;
    text-align: center;
}