html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: white;*/
    -webkit-perspective: 1500;
    perspective: 1500;
    /*font-family: 'Asar', serif;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card {
    border-radius: 10px;
    -webkit-perspective: 10000;
    perspective: 10000;
    -webkit-transition: box-shadow 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.card h2, .card h3, .card P {
    -webkit-transform: translateZ(2px);
    transform: translateZ(2px);
    color: white;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    font-weight: 300;
    padding: 0;
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.card h2 {
    margin: 20px 0 0 0;
}
.card h3 {
    margin: 10px 0 40px 0;
}
.card P {
    margin: 0px 0 30px 0;
    font-size: 16px;
}
.card .chart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(2px);
    transform: translateZ(2px);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.card .bar {
    will-change: height;
    width: 0px;
    height: 0px;
    background-color: white;
    -webkit-transform: translateX(-7.5px) rotateX(2deg) rotateY(-45deg);
    transform: translateX(-7.5px) rotateX(2deg) rotateY(-45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transition: height 0.5s ease-in-out, margin 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: height 0.5s ease-in-out, margin 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: height 0.5s ease-in-out, margin 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition: height 0.5s ease-in-out, margin 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*margin: 6px;*/
    margin-left: 12px;
    position: relative;
    background: -webkit-linear-gradient(top, #feffff 0%, #ddf1f9 0%, #a0d8ef 100%);
    background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 0%, #a0d8ef 100%);
}
.card .bar:after {
    display: block;
    content: '';
    height: 100%;
    width: 15px;
    position: absolute;
    top: 0;
    right: -15px;
    background-color: grey;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    background: -webkit-linear-gradient(top, #feffff 0%, #85d7f7 0%, #4c8596 100%);
    background: linear-gradient(to bottom, #feffff 0%, #85d7f7 0%, #4c8596 100%);
}
.card .bar.bar1:after{
    background: #008c81;
}
.card .bar.bar2:after{
    background: #e57c0b;
}
.card .bar.bar3:after{
    background: #008c81;
}
.card .bar.bar4:after{
    background: #e57c0b;
}
.card .bar.bar5:after{
    background: #008c81;
}
.card .bar.bar6:after{
    background: #e57c0b;
}
.card .bar.bar7:after{
    background: #008c81;
}
.card .bar.bar8:after{
    background: #e57c0b;
}
.card .bar.bar9:after{
    background: #008c81;
}
.card .bar.bar10:after{
    background: #e57c0b;
}
.card .bar.bar11:after{
    background: #e57c0b;
}
.card .bar.bar12:after{
    background: #e57c0b;
}
.card .bar.bar13:after{
    background: #e57c0b;
}
.card .bar.bar14:after{
    background: #e57c0b;
}
.card .bar.bar15:after{
    background: #e57c0b;
}
.card .bar.bar16:after{
    background: #e57c0b;
}
.card .bar.bar17:after{
    background: #e57c0b;
}


.card .bar:before {
    font-family: 'Oxygen', sans-serif;
    display: block;
    content: '';
    height: 15px;
    width: 10px;
    position: absolute;
    top: -15px;
    left: 0;
    background-color: white;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    color: white;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    padding: 0;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.card .bar.bar1:before {
    content: "";
    background: #19d4c5;
}
.card .bar.bar2:before {
    content: "";
    background: #fda444;
}
.card .bar.bar3:before {
    content: "";
    background: #19d4c5;
}
.card .bar.bar4:before {
    content: "";
    background: #fda444;
}
.card .bar.bar5:before {
    content: "";
    background: #19d4c5;
}
.card .bar.bar6:before {
    content: "";
    background: #fda444;
}
.card .bar.bar7:before {
    content: "";
    background: #19d4c5;
}
.card .bar.bar8:before {
    content: "";
    background: #fda444;
}
.card .bar.bar9:before {
    content: "";
    background: #19d4c5;
}
.card .bar.bar10:before {
    content: "";
    background: #fda444;
}
.card .bar.bar11:before {
    content: "";
    background: #fda444;
}
.card .bar.bar12:before {
    content: "";
    background: #fda444;
}
.card .bar.bar13:before {
    content: "";
    background: #fda444;
}
.card .bar.bar14:before {
    content: "";
    background: #fda444;
}
.card .bar.bar15:before {
    content: "";
    background: #fda444;
}
.card .bar.bar16:before {
    content: "";
    background: #fda444;
}
.card .bar.bar17:before {
    content: "";
    background: #fda444;
}

.card .bar span {
    /* font-family: 'Oxygen', sans-serif;*/
    font-family: Arial;
    position: absolute;
    /*-webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);*/
    border-radius: 2px;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    /*top: 20px;*/
    top: -25px;
    white-space: nowrap;
    text-align: right;
    /* left: 20px; */
    left: -12px;

    padding: 5px;
    font-size: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    color: #e57c0b;
}
.details .card {
    /*-webkit-transform: rotateX(60deg) translateY(150px);
    transform: rotateX(60deg) translateY(150px);*/

    transform: rotateX(70deg) translateY(222px);
}
.details .card .chart {
    /*-webkit-transform: translateZ(40px) translatey(50px);
    transform: translateZ(40px) translatey(50px);*/

    /*transform: translateZ(40px) translatey(50px);*/
}
.details .card .bar {
    width: 10px;
    -webkit-transform: translateX(-7.5px) rotateX(-80deg) rotateY(-25deg);
    transform: translateX(-7.5px) rotateX(-80deg) rotateY(-25deg);
    animation: grow-1 3s;
}
@keyframes grow-1 {
    0%, 0% {
        transform: translateX(-5.5px) rotateX(8deg) rotateY(2deg);
    }
    8.33333%,
    100% {
        -webkit-transform: translateX(-7.5px) rotateX(-90deg) rotateY(-25deg);
        transform: translateX(-7.5px) rotateX(-90deg) rotateY(-25deg);
    }
}
.details .card .bar.bar1 {
    height: 117px;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
    margin-top: -117px;
    background: #17b6a9;
}
.details .card .bar.bar2 {
    height: 118px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: -118px;
    background: #f6962e;
}
.details .card .bar.bar3 {
    height: 104px;
    -webkit-transition-delay: 2.3s;
    transition-delay: 2.3s;
    margin-top: -104px;
    background: #17b6a9;
}
.details .card .bar.bar4 {
    height: 75.9px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: -75.9px;
    background: #f6962e;
}
.details .card .bar.bar5 {
    height: 102.1px;
    -webkit-transition-delay: 2.5s;
    transition-delay: 2.5s;
    margin-top: -102.1px;
    background: #17b6a9;
}
.details .card .bar.bar6 {
    height: 75.7px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: -75.7px;
    background: #f6962e;
}
.details .card .bar.bar7 {
    height: 106.2px;
    -webkit-transition-delay: 2.7s;
    transition-delay: 2.7s;
    margin-top: -106.2px;
    background: #17b6a9;
}
.details .card .bar.bar8 {
    height: 78.9px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: -78.9px;
    background: #f6962e;
}
.details .card .bar.bar9 {
    height: 53px;
    -webkit-transition-delay: 2.9s;
    transition-delay: 2.9s;
    margin-top: -53px;
    background: #17b6a9;
}
.details .card .bar.bar10 {
    height: 48.5px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: -48.5px;
    background: #f6962e;
}
.details .card .bar.bar11 {
    height: 15px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background: #f6962e;
    margin: -15px 0 0 18px;
}
.details .card .bar.bar12 {
    height: 49px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin: -49px 0 0 35px;
    background: #f6962e;
}
.details .card .bar.bar13 {
    height: 61px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin: -61px 0 0 33px;
    background: #f6962e;
}
.details .card .bar.bar14 {
    height: 58.2px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin: -58.2px 0 0 33px;
    background: #f6962e;
}
.details .card .bar.bar15 {
    height: 55.8px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin: -55.8px 0 0 36px;
    background: #f6962e;
}
.details .card .bar.bar16 {
    height: 50.7px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin: -50.7px 0 0 35px;
    background: #f6962e;
}
.details .card .bar.bar17 {
    height: 49.1px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin: -49.1px 0 0 33px;
    background: #f6962e;
}

.details .card .bar span {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.details .card .bar:before {
    color: black;
}
.background {
    /*width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;*/
    position: absolute;
    left: 56px;
    bottom: 196px;
    transform: scaleY(1.8);
    /* opacity: 0.5;*/
}