.title-font {
    top: 10px;
    position: relative;
    font-family: Arial;
}

.main-conent {
    display: flex;
    width: 100%;
    height: 60px;
    margin: 29px auto;
    align-items: center;
}

.main-conent .left,.main-conent .right{
    width: 50%;
    text-align: center;
   /* margin-left: -25%;*/
}

.main-conent .right {
    /*margin: -16px 0 0 55px;*/
    /* margin-left: 213px; */
}

.main-conent .left .font-large,.main-conent .right .font-large{
    color: #ffffff;
    font-size: 33px;
    font-family: Silom;
}
.main-conent .left .font-small,.main-conent .right .font-small{
    color: #3995da;
    font-size: 12px;
    margin-top: -27px;
    font-family: Arial;
}

.footer{
    position: absolute;
    width: 100%;
    /*top: 466px;*/
    left: 68px;
    bottom: -53px;
}

.title-list{
    position: absolute;
    width: 38px;
    height: 236px;
    color: #ffffff;
    left: 24px;
    top: 120px;
    opacity: 0.9;
    z-index: 2;
    font-size: 12px;
}

.title-line{
    position: absolute;
    width: 88%;
    border-bottom: 1px dashed #757575;
    left: 55px;
    top: 352px;
}

.title-dotm li {
    width: 15px;
    height: 10px;
    font-size: 12px;
    color: #fff;
    padding-top: 203px;
    padding-left: 9px;
    margin-left: 20px;
    float: left;
    display: block;
}
.footer-font{
    position: absolute;
    display: flex;
    color: #ffffff;
    bottom: 6px;
    font-size: 12px;
}

.footer-font span{
    display: flex;
}

.footer-font .span-01{
    margin-left: 200px;
}

.footer-font .span-02{
    margin-left: 60px;
}

.footer-font span p{
    width: 10px;
    height: 10px;
}
.footer-font span .p-01{
    background: #17b6a9;
}

.footer-font span .p-02{
    background:#fda444;
}

.footer-font span label{
    padding: 9px;
    cursor: pointer;
}

.mask-plane{
    width: 100%;
    height: 431px;
    background: red;
    left: 0px;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 3;
    position: fixed;
    opacity: 0;
}