/** 鱼骨图 **/
.fishbone-diagram {
  position: relative;
  font-family: 'ArialMT'
}
.fishbone-diagram ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/** 鱼骨图-标注 **/
.fishbone-diagram [class^='tagging-'] {
  font-size: 14px;
}
.fishbone-diagram [class^='tagging-']::before {
  content: '';
  position: relative;
  width: 0;
  height: 0;
  border-width: 10px 5px;
  border-style: solid;
  margin-right: 6px;
}
.fishbone-diagram .tagging-rise {
  color: #00b8ac;
}
.fishbone-diagram .tagging-rise::before {
  border-color: transparent transparent #00b8ac transparent;
  top: -15px;
}
.fishbone-diagram .tagging-rise .normal::before {
  background-color: #16fcf433;
}
.fishbone-diagram .tagging-fall {
  color: #ff0000;
}
.fishbone-diagram .tagging-fall::before {
  border-color: #ff0000 transparent transparent transparent;
  bottom: -15px;
}
.fishbone-diagram .tagging-fall .normal::before {
  background-color: #fc818133;
}
.fishbone-diagram [class^='tagging-'] .normal {
  position: relative;
  font-weight: bold;
}
.fishbone-diagram [class^='tagging-'].bg .normal::before {
  background-color: transparent;
}
.fishbone-diagram [class^='tagging-'] .normal::before {
  content: '';
  position: absolute;
  top: 0;
  left: -4px;
  width: calc(100% + 7px);
  height: 100%;
  border-radius: 4px;
}
.fishbone-diagram [class^='tagging-'] .small {
  display: inline-block;
  transform: scale(0.75);
  font-size: 12px;
}
/** 鱼骨图-动画 **/
.fishbone-diagram .animation-container {
  position: relative;
  margin-left: -32px;
  padding: 30px 0 38px;
  transition: width 0.5s;
  overflow: hidden;
}
.fishbone-diagram .animation-container.w0 {
  width: 0 !important;
}
.fishbone-diagram .animation-container:not(:last-child) {
  margin-top: -30px;
}
/** 鱼骨图-标题 **/
.fishbone-diagram .title {
  color: #fff;
  font-family: Arial;
  font-weight: 700;
  line-height: 21px;
}
/** 鱼骨图-副标题 **/
.fishbone-diagram .sub-title {
  float: left;
  margin-top: 10px;
  padding: 0 0 12px 0;
  border-radius: 6px;
  background-color: #091b3f;
  box-shadow: 0px 0px 3px 2px rgba(12,69,151,1) inset;
}
.sub-title [class^='tagging-'] {
  margin-bottom: -20px;
  padding-left: 10px;
  line-height: 40px;
}
.sub-title .text-list {
  float: left;
  padding-left: 70px;
  min-width: 160px;
  text-align: center;
  line-height: 16px;
  color: #fff;
  font-size: 12px;
}
.sub-title .text-list .text-item {
  position: relative;
  margin: 0 10px 0 0;
  padding: 3px 10px 16px;
}
.sub-title .text-list .text-item::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 16px;
  transform: skewY(44deg);
  width: 0;
  height: 0;
  border-width: 6px 8px;
  border-color: #50b1f4 #50b1f4 transparent transparent;
  border-style: solid;
}
.sub-title .text-list .text-item:nth-child(2)::before {
  border-width: 6px 15px;
  left: -30px;
  top: -1px;
  transform: skewY(58deg);
}
.sub-title .text-list .text-item.line-num2:nth-child(2)::before {
  border-width: 6px 19px;
  left: -38px;
  top: 6px;
  transform: skewY(60deg);
}
.sub-title .text-list .text-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12px;
  background-color: #029bf8;
}
/** 鱼骨图-图例 **/
.fishbone-diagram .legend {
  position: absolute;
  color: #fff;
  font-size: 14px;
  text-align: left;
  line-height: 23px;
}
.legend .legend-item {
  position: relative;
  margin-top: 1px;
  padding-bottom: 14px;
}
.legend .legend-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 32px;
  height: 12px;
  background-color: #0059ee;
}
/** 鱼骨图-图表 **/
.fishbone-diagram .diagram {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.diagram .diagram-item {
  display: flex;
  position: absolute;
  left: 32px;  
  height: 12px;
}
/** 鱼骨图-图表-鱼骨标注 **/
.diagram-item .diagram-item_tagging {
  position: absolute;
  left: -108px;
  bottom: -26px;
  width: 246px;
}
.diagram-item_tagging [class^='tagging-'] {
  position: absolute;
}
.diagram-item_tagging .tagging-rise {
  top: -62px;
  left: 76px;
}
.diagram-item_tagging .tagging-fall {
  top: -22px;
  right: 0;
}
.diagram-item_tagging .tagging-fall::after {
  content: '';
  position: absolute;
  bottom: 18px;
  right: 84px;
  transform: rotate(40deg);
  width: 14px;
  height: 3px;
  background-color: #0076c0;
}
/** 鱼骨图-图表-鱼骨鱼刺 **/
.diagram-item .diagram-item_fishbone {
  display: flex;
}
.diagram-item_fishbone .fishbone-front{
  position: relative;
  transform: skewY(-33deg) translate(0, 13px);
  width: 0;
  height: 0;
  border-width: 6px 20px;
  border-color: transparent #50b1f4 #50b1f4 transparent;
  border-style: solid;
}
.diagram-item_fishbone .fishbone-central {
  width: 100px;
  height: 100%;
  background-color: #029bf8;
  z-index: 1;
}
.diagram-item_fishbone .fishbone-tail {
  width: 0;
  height: 0;
  border-width: 12px 16px;
  border-style: solid;
  border-color: transparent transparent transparent #029bf8;
  margin-top: -6px;
  margin-left: -1px;
}
