/** 鱼骨图 **/
.fishbone-diagram {
  position: relative;
  font-family: 'ArialMT'
}
.fishbone-diagram ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/** 鱼骨图-标注 **/
.fishbone-diagram [class^='tagging-'] {
  font-size: 12px;
}
.fishbone-diagram [class^='tagging-']::before {
  content: '';
  position: relative;
  width: 0;
  height: 0;
  border-width: 10px 5px;
  border-style: solid;
  margin-right: 6px;
}
.fishbone-diagram .tagging-rise {
  color: #00b8ac;
}
.fishbone-diagram .tagging-rise::before {
  border-color: transparent transparent #00b8ac transparent;
  top: -13px;
}
.fishbone-diagram .tagging-fall {
  color: #ff0000;
}
.fishbone-diagram .tagging-fall::before {
  border-color: #ff0000 transparent transparent transparent;
  bottom: -14px;
}
.fishbone-diagram [class^='tagging-'] .normal {
  font-weight: bold;
}
.fishbone-diagram [class^='tagging-'] .small {
  display: inline-block;
  transform: scale(0.75);
  font-size: 12px;
}
/** 鱼骨图-动画 **/
.fishbone-diagram .animation-container {
  position: relative;
  margin-left: -26px;
  padding: 30px 0 38px;
  transition: width 1.5s;
  overflow: hidden;
}
.fishbone-diagram .animation-container.w0 {
  width: 0 !important;
}
.fishbone-diagram .animation-container:not(:last-child) {
  margin-top: -30px;
}
/** 鱼骨图-标题 **/
.fishbone-diagram .title {
  color: #fff;
}
/** 鱼骨图-副标题 **/
.fishbone-diagram .sub-title {
  margin-top: 16px;
  width: 230px;
  height: 100px;
  background-image: url(../assets/legend-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.sub-title [class^='tagging-'] {
  padding-left: 10px;
  line-height: 26px;
}
.sub-title .text-list {
  margin-top: -10px;
  padding-left: 70px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  font-size: 12px;
}
.sub-title .text-list .text-item {
  position: relative;
  margin: 0;
  padding-right: 10px;
  padding-bottom: 12px;
}
.sub-title .text-list .text-item::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 13px;
  transform: skewY(44deg);
  width: 0;
  height: 0;
  border-width: 6px 12px;
  border-color: #50b1f4 #50b1f4 transparent transparent;
  border-style: solid;
}
.sub-title .text-list .text-item+.text-item::before {
  border-width: 6px 20px;
  left: -40px;
  top: -5px;
  transform: skewY(55deg);
}
.sub-title .text-list .text-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 10px);
  height: 12px;
  background-color: #029bf8;
}
/** 鱼骨图-图例 **/
.fishbone-diagram .legend {
  position: absolute;
  color: #fff;
  font-size: 14px;
  text-align: left;
  line-height: 23px;
}
.legend .legend-item {
  position: relative;
  margin-top: 1px;
  padding-bottom: 14px;
}
.legend .legend-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 32px;
  height: 12px;
  background-color: #0059ee;
}
/** 鱼骨图-图表 **/
.fishbone-diagram .diagram {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.diagram .diagram-item {
  display: flex;
  position: absolute;
  left: 26px;  
  height: 12px;
}
/** 鱼骨图-图表-鱼骨标注 **/
.diagram-item .diagram-item_tagging {
  position: absolute;
  left: -102px;
  bottom: -26px;
  width: 238px;
}
.diagram-item_tagging [class^='tagging-'] {
  position: absolute;
}
.diagram-item_tagging .tagging-rise {
  top: -62px;
  left: 76px;
}
.diagram-item_tagging .tagging-fall {
  top: -24px;
  right: 0;
}
.diagram-item_tagging .tagging-fall::after {
  content: '';
  position: absolute;
  bottom: 13px;
  right: 82px;
  transform: rotate(40deg);
  width: 14px;
  height: 3px;
  background-color: #0076c0;
}
/** 鱼骨图-图表-鱼骨鱼刺 **/
.diagram-item .diagram-item_fishbone {
  display: flex;
}
.diagram-item_fishbone .fishbone-front{
  position: relative;
  transform: skewY(-33deg) translate(0, 13px);
  width: 0;
  height: 0;
  border-width: 6px 20px;
  border-color: transparent #50b1f4 #50b1f4 transparent;
  border-style: solid;
}
.diagram-item_fishbone .fishbone-central {
  width: 100px;
  height: 100%;
  background-color: #029bf8;
  z-index: 1;
}
.diagram-item_fishbone .fishbone-tail {
  width: 0;
  height: 0;
  border-width: 12px 16px;
  border-style: solid;
  border-color: transparent transparent transparent #029bf8;
  margin-top: -6px;
  margin-left: -1px;
}
