@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}

@-webkit-keyframes shadow {
    0% {
        background: rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(0.75) rotateX(75deg) rotateY(0deg) rotateZ(-45deg);
        transform: scale(0.75) rotateX(75deg) rotateY(0deg) rotateZ(-45deg);
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.6);
    }
    100% {
        background: rgba(0, 0, 0, 0.15);
        -webkit-transform: scale(1) rotateX(75deg) rotateY(0deg) rotateZ(-45deg);
        transform: scale(1) rotateX(75deg) rotateY(0deg) rotateZ(-45deg);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

@keyframes shadow {
    0% {
        background: rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(0.75) rotateX(75deg) rotateY(0deg) rotateZ(-45deg);
        transform: scale(0.75) rotateX(75deg) rotateY(0deg) rotateZ(-45deg);
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.6);
    }
    100% {
        background: rgba(0, 0, 0, 0.15);
        -webkit-transform: scale(1) rotateX(75deg) rotateY(0deg) rotateZ(-45deg);
        transform: scale(1) rotateX(75deg) rotateY(0deg) rotateZ(-45deg);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

body {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    /* background-color: #36373c; */
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.label {
    /*width: 100%;
    top: 83px; */
    position: absolute;
    text-align: center;
    left: 106px;
    top: 103px;
}

.label small {
    display: block;
    margin-bottom: 1em;
}

h1 {
    color: #fff;
    margin: 1em 0 0;
    /* margin-bottom: 1em; */
    font-size: 1.6rem;
    font-weight: 100;
}

main {
    height: 100vh;
    /* padding: 10px; */
    text-align: center;
    opacity: 0;
}

main .-content {
    position: relative;
    height: 100vh;
}

main .-content>div {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

main .-content.-index {
    display: table;
    width: 100%;
    left: 40%;
    top: -13%;
}

main .-content.-index>div {
    display: table-cell;
    vertical-align: middle;
}

.button {
    cursor: pointer;
    text-align: center;
    border: 0;
    text-decoration: none;
    position: relative;
    display: none;
    z-index: 10;
    padding: 1rem 3rem;
    line-height: 1rem;
}

.button span {
    font-size: 1rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    display: block;
    margin: 2px 0 0 5px;
}

.button:hover:before {
    opacity: 1;
    /*-webkit-transform: scale(1);
    transform: scale(1);*/
}

.button:hover:after {
    opacity: 0;
    /*-webkit-transform: scale(0.85);
    transform: scale(0.85);*/
}

.button:before,
.button:after {
    display: block;
    content: ' ';
    z-index: -1;
    border-radius: 999px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 280ms;
    transition: all 280ms;
    -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    animation-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button:after {
    /*background-color: #f8981c;*/
    opacity: 1;
}

.button:before {
    opacity: 1;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
   /* background-color: #6f7dbc;*/
    border: 2px dashed #f6962e;
}

#emitter {
    width: 50px;
    height: 60px;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-12px);
    transform: translateX(-50%) translateY(-12px);
    cursor: pointer;
}

.emitter-dot {
    background-color: #19cce6;
    border-radius: 999px;
    position: absolute;
}

.bounce-wrap {
    display: block;
    height: 90px;
}

.bounce-wrap .icon {
    width: 232px;
    height: 66px;
    position: absolute;
    fill: #ffffff;
    left: 47%;
    -webkit-transform: translateX(-50%) translateY(-32px);
    transform: translateX(-50%) translateY(-32px);
    opacity: 0;
    visibility: hidden;
}

.bounce {
    position: relative;
    margin: 16rem 6rem 0 0;
}

.bounce .-box,
.bounce .-box-wrap,
.bounce .-shadow {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.bounce .-shadow {
    bottom: -90px;
    height: 32px;
    width: 32px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(0.75) rotateX(75deg) rotateY(0deg) rotateZ(-45deg);
    transform: scale(0.75) rotateX(75deg) rotateY(0deg) rotateZ(-45deg);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.6);
    -webkit-animation: shadow 250ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
    animation: shadow 250ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
}

.bounce .-box-wrap {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: bounce 250ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
    animation: bounce 250ms cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
}

.bounce .-box {
    width: 32px;
    height: 32px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-14deg) rotateY(-45deg) rotateZ(0deg);
    transform: rotateX(-14deg) rotateY(-45deg) rotateZ(0deg);
}

.bounce .-box .wall {
    width: 32px;
    height: 32px;
    position: absolute;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bounce .-box .front {
    background: #60f4fd;
    -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(16px) rotateX(90deg);
    transform: rotateX(0deg) rotateY(0deg) translateZ(16px) rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    height: 50%;
    z-index: 1;
    opacity: 0.8;
}

.bounce .-box .right {
    height: 32px;
    background: #60f4fd;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateX(16px) rotateY(90deg) rotateX(90deg);
    transform: translateX(16px) rotateY(90deg) rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    height: 50%;
    z-index: 1;
    opacity: 0.8;
}

.bounce .-box .back {
    background: #60f4fd;
    -webkit-transform: rotateY(180deg) translateZ(16px) rotateX(90deg);
    transform: rotateY(180deg) translateZ(16px) rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    height: 50%;
    opacity: 0.8;
}

.bounce .-box .left {
    background: #60f4fd;
    -webkit-transform: translateX(-16px) rotateY(-90deg) rotateX(90deg);
    transform: translateX(-16px) rotateY(-90deg) rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    height: 50%;
    opacity: 0.8;
}

.bounce .-box .front-left {
    background: #19cce6;
    height: 32px;
    -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(16px) translateY(16px);
    transform: rotateX(0deg) rotateY(0deg) translateZ(16px) translateY(16px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0.8;
}

.bounce .-box .front-right {
    background: #169edd;
    height: 32px;
    -webkit-transform: translateX(16px) rotateY(90deg) translateY(16px);
    transform: translateX(16px) rotateY(90deg) translateY(16px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0.8;
}

.bounce .-box .back-left {
    background: #b0c2d6;
    height: 32px;
    -webkit-transform: rotateX(0deg) translateX(-16px) rotateY(-90deg) translateY(16px);
    transform: rotateX(0deg) translateX(-16px) rotateY(-90deg) translateY(16px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.bounce .-box .back-right {
    background: #8a9fb4;
    height: 32px;
    -webkit-transform: rotateX(0deg) rotateY(180deg) translateZ(16px) translateY(16px);
    transform: rotateX(0deg) rotateY(180deg) translateZ(16px) translateY(16px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}


/* body {
    background: #8fd5d5;
} */


/******抛物线******/

.ball {
    width: 20px;
    height: 20px;
    background: #19cce6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transform: translate3d(582px, 190px, 0);
    opacity: 0;
}


/********水平移动距离600 速度 200m/s  重力加速度的运动速度**************/

.animg100 {
    -webkit-animation: pao100 1s linear both;
}

@-webkit-keyframes pao100 {
    100% {
        -webkit-transform: translate3d(150px, 97px, 0);
        opacity: 0;
    }
    90% {
        -webkit-transform: translate3d(193.2px, 106.3px, 0);
        opacity: 0.2;
    }
    80% {
        -webkit-transform: translate3d(236.4px, 115.6px, 0);
        opacity: 0.4;
    }
    70% {
        -webkit-transform: translate3d(279.6px, 124.9px, 0);
        opacity: 0.6;
    }
    60% {
        -webkit-transform: translate3d(322.8px, 134.2px, 0);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translate3d(366px, 143.5px, 0);
        opacity: 0.9;
    }
    40% {
        -webkit-transform: translate3d(409.2px, 152.8px, 0);
        opacity: 1;
    }
    30% {
        -webkit-transform: translate3d(452.4px, 162.1px, 0);
        opacity: 0.8;
    }
    20% {
        -webkit-transform: translate3d(495.6px, 171.4px, 0);
        opacity: 0.6;
    }
    10% {
        -webkit-transform: translate3d(538.8px, 180.7px, 0);
        opacity: 0.4;
    }
    0% {
        -webkit-transform: translate3d(582px, 190px, 0);
        opacity: 0.2;
    }
}

.form-bg {
    width: 100%;
    height: 618px;
    position: absolute;
    background: url(../../../../img/middleBorder.png) no-repeat 100% 100%;
}
.form-bg .form-top {
    position: absolute;
    right: 32px;
    top: 8px;
}
.form-bg .form-top .form-top-font-blue{
    color: #4d96f1;
}
.form-bg .form-top .form-top-font-flex {
    display: flex;
}
.form-bg .form-top .form-top-font-flex .form-top-font-white {
    color: #fff;
    font-size: 16px;
}
.form-bg .form-top .form-top-font-flex .form-top-font-blue {
    font-size: 14px;
    color: #4d96f1;
}
.form-bg .form-content {
    width: 819px;
    height: 318px;
    margin: 260px 0 0 686px;
}
.form-bg .form-content ul{
    position: absolute;
    display: flex;
    font-size: 10px;
    font-family: Arial;
}
.form-bg .form-content ul li{
    width: 108px;
    list-style-type:none;
}
.form-bg .form-content img {
    display: block;
}
.form-bg .form-content .form-arrow {
    width: 18px;
    height: 10px;
    position: absolute;
    opacity: 0;
}
.form-bg .form-content p {
    color: #4d96f1;
    position: absolute;
    left: 71.3%;
    top: 309px;
}
@media screen and (max-width: 1366px) {
    .form-bg {
        width: 614px;
        height: 413px;
        background: url(../../../../img/middleBorder.png)no-repeat;
        background-size: 100% 100%;
    }
    .form-bg .form-top {
        top: 6px;
        line-height: 0px;
        left: 30px;
        font-family: Arial;
        font-weight: 700;
    }
    .form-bg .form-top .form-p-1 {
        margin: -4px 0 0 0;
    }
    .form-bg .form-top .form-p-2 {
        margin: -6px 0 0 0;
    }
    .form-bg .form-top .form-p-3 {
        padding: 55px 0 0 0;
    }
    .form-bg .form-top .form-p-4 {
        color: #f3f3f3;
        font-size: 12px;
        text-align: right;
        font-family: Arial;
        font-weight: 700;
    }
    .form-bg .form-content {
        width: 548px;
        height: auto;
        margin: 168px auto;
    }
    .form-bg .form-content img {
        display: block;
        width: 548px;
    }
    .form-bg .form-content .form-arrow01{
        transform: rotate(180deg);
        right: 134px;
        top: 216px;
    }
    .form-bg .form-content .form-arrow02 {
        right: 134px;
        top: 243px;
        transform: rotate(210deg);
    }
    .form-bg .form-content p {
        font-size: 12px;
        left: 70%;
    }
    .form-bg .form-content .form-content-10 {
        top: 200px;
    }
    .form-bg .form-content .form-content-20 {
        top: 227px;
    }
    main .-content.-index {
        top: -133px;
    }
}